<h2>Editar Tarea</h2>
<form class="mt-3" (ngSubmit)="onSave()" [formGroup]="taskForm">
    <div class="row">
        <div class="form-group col-md-12">
            <input type="text" class="form-control" placeholder="Task Name" formControlName="name">
        </div>
    </div>
    <div class="row mt-2">
        <div class="form-group col-md-12">
            <input type="text" class="form-control" placeholder="Task Description" formControlName="description">
        </div>
    </div>
    <div class="row mt-2">
        <div class="form-group col-md-12">
            <input type="text" class="form-control" placeholder="Duration" formControlName="duration">
        </div>
    </div>
    <div class="d-grid gap-2 mt-3">
        <button type="submit" class="btn bg-light text-dark">Guardar</button>
    </div>
</form>

<button type="button" class="btn btn-secondary mt-2" (click)="onGoBackToList()">Regresar a tareas pendientes</button>

