
<h2 class="text-center mt-4">Tareas Pendientes</h2>
<div class="form-group">
  <label class="col-form-label mt-4" for="inputDefault">Filtrar:</label>
  <input type="text" class="form-control" placeholder="Default input" id="inputDefault" [(ngModel)]='duration'>
</div>
<div class="container mt-3" *ngFor="let item of pendingTasks | async | filter:duration:'duration' | sort:['open']">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">{{item.name}}</h4>
      <p class="card-text">{{item.description}}</p>
      <p class="card-text">{{item.duration}}</p>
      <div class="btn-group d-none d-sm-block" role="group">
        <button type="button" class="btn btn-primary m-1 btn-sm" (click)="onGoToDetails(item)">Detalles</button>
        <button type="button" class="btn btn-secondary m-1 btn-sm" (click)="onGoToEdit(item)" >Editar</button>
        <button type="button" class="btn btn-danger m-1 btn-sm" (click)="onDelete(item.id)">Borrar</button>   
      </div>
    </div>
  </div>
</div>
