<div class="table responsive">
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Tarea</th>
            <th scope="col">Descripción</th>
            <th scope="col">Tiempo Restante</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-light" *ngFor="let item of tasks$ | async ">
            <th scope="row">{{item.name}}</th>
            <td>{{item.description}}</td>
            <td>{{item.duration}}</td>
            <td class="btn-group d-none d-sm-block" role="group">
                <button type="button" class="btn btn-outline-warning m-1" (click)="onGoToEdit(item)" >Editar</button>
                <button type="button" class="btn btn-outline-warning m-1" (click)="onGoToDetails(item)">Detalles</button>
                <button type="button" class="btn btn-outline-danger m-1" (click)="onDelete(item.id)">Borrar</button>
            </td>
          </tr>
        </tbody>
    </table>
</div>
