<div class="table responsive">
    <table class="table table-hover">
        <thead>
          <tr class="table-light">
            <th scope="col">Tarea</th>
            <th scope="col">Descripción</th>
            <th scope="col">Duración de la tarea</th>
            <th scope="col">Fecha de finalización</th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-default" *ngFor="let item of [0,1,2,3,4,5]">
            <th scope="row">Tarea</th>
            <td>Descripción de tarea</td>
            <td>32 mins</td>
            <td>01/02/21</td>
          </tr>
        </tbody>
    </table>
</div>
